body {
  background: black;
  height: 100%;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

video {
  display: none;
  width: 512px;
  height: 512px;
  border-color: white;
  border-width: 4px;
  object-fit: cover;
}
